p{
  float: left;
  border-style: solid;
  border-radius: 2px;
  border-color: #0f0f0f;
}
span .firstcolumn{

  width: 100px;
}
span .secondcolumn{

   width: 50px;
}
span .thirdcolumn{

  width: 150px;
}